<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>RMS Dashboard</title>
  <link rel="stylesheet" href="waiter.css" />
</head>
<body>
 
  <div class="main-layout">
    <section class="dashboard">
      <div class="card-grid">
        <div class="card" onclick="window.location.href='table.html'">🪑<span>Select Table</span></div>
        <div class="card" onclick='window.location.href="viewMenu.html"'>📋<span>View Menu</span></div>
        <div class="card" onclick='window.location.href="viewOrders.html"'>👀<span>View Orders</span></div>
        <div class="card" onclick="window.location.href='tableStatus.html'">📶<span>Table Status</span></div>
      </div>
    </section>
  </div>
</body>
</html>
